<?xml version="1.0" encoding="UTF-8" ?>
<!--网络引入dtd约束规则-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <databaseIdProvider type="">
        <property name="" value=""/>
    </databaseIdProvider>
</configuration>